body {
    background-color: #efefef;
    margin: 0;
    padding: 0;
    font-family: helvetica, arial, sans-serif;
    font-size: 9pt;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}


.board-div {
    position: relative;
    left: 42%;
}

#board {
    margin-top: 35px;
    border: 4px solid #333;
    padding: 25px 3px 35px 3px;
    border-radius: 15px;
    background-color: #111;
}

#score-chart {
    float: right;
    margin-top: -400px;
    margin-right: 100px;

}
.training-buttons {
    margin: 0 auto;
    text-align: center;
}

.time {
    float: right;
    margin-top: 100px;
    margin-right: 50px;
    font-size: 20px;
}

.radar-div {
    margin-left: 400px;
}
.radar-div canvas {
    position: relative;
    float: left;
}
.time2 {
    position: relative;
    float: left;
    margin-top: 100px;
    font-size: 20px;
}

.training-buttons button {
    width: 150px;
    font-size: 18px;
}

.btn:active:focus {
  outline-color: transparent;
  outline-style: none;
}